{% extends "network/layout.html" %}

{% block body %}

<script type="text/babel">

    // Final App for Rendering page
    function App() {

        const[allPosts, setAllPosts] = React.useState({})
        const[userPosts, setUserPosts] = React.useState()
        const[followCount, setFollowCount] = React.useState()
        const[followList, setFollowList] = React.useState()
        const[followButton, setFollowButton] = React.useState()
        const[profile, setProfile] = React.useState()


        //useEffect Counters
        const[county, setCounty] = React.useState(0)

        // show or hide (all/profile/following) all posts
        const[show, setShow] = React.useState("all-posts")

        React.useEffect(() => {
            fetch("posts")
            .then(res => res.json())
            .then(data => setAllPosts(data))

            fetch(`profile/benhillier`)
                .then(res => res.json())
                .then(data => setProfile(data))

            fetch("follow_list")
            .then(response => response.json())
            .then(data => setFollowList(data))
            
        }, []);


        // load users' profile page
        function loadProfile(username) {

            // setProfile(async() => {
            //     const res = await fetch(`profile/${username}`)
            //     const data = await res.json()
            //     return data
            // })

            fetch(`profile/${username}`)
            .then(res => res.json())
            .then(data => setProfile(data))

            setShow("userProfile")
        }
        

        // components for different pages
        function EveryPost() {

            // listening for clicks, assign button id to 'show'
            document.addEventListener("click", function(event) {
                document.getElementById(event.target)
                if(event.target.id === "profile") {
                    setShow(event.target.id)
                } else if(event.target.id === "following") {
                    setShow(event.target.id)
                } else if(event.target.id ==="all-posts") {
                    setShow("all-posts")
                }
            })
            
            const everyPost = Object.entries(allPosts).map(element => {
                return (
                    <div className="post">
                        <div className="post-header">
                            <p><a onClick={() => loadProfile(element[1].user)}>{element[1].user}</a></p>
                            <p>{element[1].timestamp}</p>
                        </div>
                        <div className="post-content">
                            <p>{element[1].content}</p>
                        </div>
                        <div className="post-likes">
                            <p>Likes {element[1].likes}</p>
                        </div>
                    </div>
                )
            })
            return everyPost
        };

        React.useEffect(() => {
            fetch("follow_count")
            .then(response => response.json())
            .then(data => setFollowCount(data))

            fetch("user_posts")
            .then(res => res.json())
            .then(data => setUserPosts(data))

        }, [])

        function Profile() {

            const postUser = Object.entries(userPosts).map(upost => {
                return (
                    <div className="post">
                        <div className="post-header">
                            <p>{upost[1].user}</p>
                            <p>{upost[1].timestamp}</p>
                        </div>
                        <div className="post-content">
                            <p>{upost[1].content}</p>
                        </div>
                        <div className="post-likes">
                            <p>Likes {upost[1].likes}</p>
                        </div>
                    </div>
                )
            })

            return (
                <div>
                    <h4>You have {followCount.follower_count} followers!</h4>
                    <h4>You are following {followCount.following_count} people!</h4>
                    {postUser}
                </div>
            )
        };

        function UserProfile() {

            const followers = profile[0]
            const following = profile[1]
            const current_user = profile[3]

            
            fetch("follow_true", {
                method: "POST",
                body: JSON.stringify({
                current_user: current_user,
                follow_list: followList
                })
            })
            .then(res => res.json())
            .then(data => setFollowButton(data))
            console.log(followButton)
            
            
            // update Follow button, and change fetch put follow
            function FollowButton() {
            
                // checking if user is following or not, then set followButton
                function handleFollowButton() {
                    fetch(`follow/${current_user}`, {
                        method: "POST",
                        body: JSON.stringify({
                            following: followButton 
                        })
                    })
                    .then(res => res.json())
                    .then(data => setFollowButton(data))

                    setFollowButton(followButton === "Follow" ? "Unfollow" : "Follow")
                }

                 
                function Button() {
                    if(current_user == profile[4]) {
                        return <div />
                    } else {
                        return (
                            <div>
                                <button onClick={handleFollowButton}>{followButton}</button>
                            </div>
                        )
                    }
                }
                
                return (
                    <Button />
                )
            }


            const profilePosts = Object.entries(profile[2]).map(element => {
                return (
                    <div className="post">
                        <div className="post-header">
                            <p>{element[1].user}</p>
                            <p>{element[1].timestamp}</p>
                        </div>
                        <div className="post-content">
                            <p>{element[1].content}</p>
                        </div>
                        <div className="post-likes">
                            <p>Likes {element[1].likes}</p>
                        </div>
                    </div>
                )
            })

            return (
                <div>
                    {`${followers} followers`}
                    {`Following ${followers}`}
                    <FollowButton />
                    {profilePosts}
                </div>
            )
        };

        function Following() {
            return (
                <div>
                    <h3>Following</h3>
                </div>
            )
        };


        // show only all/profile/following posts
        let showPosts
        if(show === "all-posts") {
            showPosts = <EveryPost />
        } else if(show ==="profile") {
            showPosts = <Profile />
        } else if(show ==="following") {
            showPosts = <Following />
        } else if(show ==="userProfile") {
            showPosts = <UserProfile />
        }

        return (
            <div className="every-post">
                <section className="post-section">
                    {showPosts}
                </section>
            </div>

        )
    };
    ReactDOM.render(<App />, document.querySelector("#root-allposts"))

</script>

{% endblock %}