{% extends "network/layout.html" %}

{% block body %}

<script type="text/babel">

    // Final App for Rendering page
    function App() {

        const[allPosts, setAllPosts] = React.useState({})
        const[userPosts, setUserPosts] = React.useState()
        const[followCount, setFollowCount] = React.useState()
        const[followList, setFollowList] = React.useState()
        const[followButton, setFollowButton] = React.useState()
        const[profile, setProfile] = React.useState()
        const[currentUser, setCurrentUser] = React.useState("benhillier")
        const[pushingButton, setPushingButton] = React.useState(false)
        const[allFollowPosts, setAllFollowPosts] = React.useState()
        const[userCounter, setUserCounter] = React.useState(1)
        const[editingPost, setEditingPost] = React.useState(false)
        const[postId, setPostId] = React.useState()
        const[postContent, setPostContent] = React.useState()
        const[newUpdatedContent, setNewUpdatedContent] = React.useState()
        let updatedContent
        const[refreshPosts, setRefreshPosts] = React.useState(false)
        const[likeButton, setLikeButton] = React.useState()
        const[likeDetails, setLikeDetails] = React.useState([])

        const[allPostsPage, setAllPostsPage] = React.useState(1)
        const[profilePostsPage, setProfilePostsPage] = React.useState(1)
        const[userProfilePage, setUserProfilePage] = React.useState(1)
        const[theirProfilePage, setTheirProfilePage] = React.useState(1)
        const[followPage, setFollowPage] = React.useState(1)


        //useEffect Counters
        const[county, setCounty] = React.useState(0)

        // show or hide (all/profile/following) all posts
        const[show, setShow] = React.useState("all-posts")

        // Get CSRF Token
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        const csrftoken = getCookie('csrftoken');
        
        React.useEffect(() => {
            fetch(`posts/${allPostsPage}`)
            .then(res => res.json())
            .then(data => setAllPosts(data))        
        }, [allPostsPage]);

        React.useEffect(() => {
            fetch(`posts/${allPostsPage}`)
            .then(res => res.json())
            .then(data => setAllPosts(data))        
        }, [refreshPosts, likeButton]);
        
        React.useEffect(() => {
            fetch(`profile/benhillier/${profilePostsPage}`)
            .then(res => res.json())
            .then(data => setProfile(data))
        }, []);

        React.useEffect(() => {
            fetch(`profile/benhillier/${profilePostsPage}`)
            .then(res => res.json())
            .then(data => setProfile(data))
        }, [refreshPosts]);
        
        React.useEffect(() => {
            fetch(`follow_list`)
            .then(response => response.json())
            .then(data => setFollowList(data))
        }, []);
        
        
        // load users' profile page
        function loadProfile(username) {
            
            fetch(`profile/${username}/${profilePostsPage}`)
            .then(res => res.json())
            .then(data => setProfile(data))
            
            setShow("userProfile")
        }

        React.useEffect(() => {
            editingPost === true ? console.log("true dat") : console.log("Falso balso")
            if(editingPost === false && postId) {
                
                fetch(`update_post/${postId}/${newUpdatedContent}`, {
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': csrftoken
                        },
                    body: JSON.stringify({
                        'updated_content': newUpdatedContent,
                    })
                })
                .then(response => response.json())
                .then(result => {
                setRefreshPosts(refreshPosts === false ? true : false)
                });
            }
        },  [editingPost])
        
        
        function editPost(id, content) {
            setNewUpdatedContent(updatedContent)
            setPostId(id)
            editingPost === false ? setEditingPost(true) : setEditingPost(false)
        }

        function newContent(newContent) {
            updatedContent = newContent
        }

        // Set Like Status
        React.useEffect(() => {
            console.log(likeDetails[0])
            console.log(likeDetails[1])
            console.log("Like Button Pushed")
            fetch(`like/${likeDetails[0]}/${likeDetails[1]}`, {
                method: "POST",
                body: JSON.stringify({
                })
            })
            .then(res => res.json())
            .then(data => console.log(data))

        }, [likeButton])
        
        // components for different pages
        function EveryPost() {

            // listening for clicks, assign button id to 'show'
            document.addEventListener("click", function(event) {
                document.getElementById(event.target)
                if(event.target.id === "profile") {
                    setShow(event.target.id)
                } else if(event.target.id === "following") {
                    setShow(event.target.id)
                } else if(event.target.id ==="all-posts") {
                    setShow("all-posts")
                }
            })

            function handleLikeButton(likeUser, likeId) {
                setLikeDetails([likeUser, likeId])
                console.log(likeDetails)
                setLikeButton(likeButton === "Like" ? "Unlike" : "Like")
            }
            
            const everyPost = Object.entries(allPosts).map(element => {
                const postContent = <p>{element[1].content}</p>
                const editingPostContent = (
                    <div>
                        <textarea onChange={e => newContent(e.target.value)} placeholder={element[1].content} autofocus>{element[1].content}</textarea>
                    </div>
                )
                
                let displayPostContent
                let editText
                if(element[1].user === element[1].currentUser && editingPost === true && element[1].id === postId) {
                    displayPostContent =  editingPostContent
                    editText = "Save"
                } else {
                    displayPostContent = postContent 
                    editText = "Edit"
                }
                const editButton = element[1].user === element[1].currentUser && <button onClick={() => editPost(element[1].id, element[1].content)}>{editText}</button>

                let likeButtonText
                if(element[1].like_button === "unliked") {
                    likeButtonText = "Like"
                } else {
                    likeButtonText = "Unlike"
                }
                
                return (
                    <div className="post">
                        <div className="post-header">
                            <span className="post-header-span"><p><a onClick={() => loadProfile(element[1].user)}>{element[1].user}</a></p>
                            {editButton}</span>
                            <span><p>{element[1].timestamp}</p></span>
                        </div>
                        <div className="post-content">
                            {displayPostContent}
                        </div>
                        <div className="post-likes">
                            <p>Likes {element[1].likes}</p>                            
                        </div>
                        <div>
                            <button onClick={() => handleLikeButton(element[1].user, element[1].id)}>{likeButtonText}</button>
                        </div>
                    </div>
                )
            })

            function setButton(event) {
                if(event.target.id === "back") {
                    setAllPostsPage(allPostsPage - 1)
                } else if(event.target.id === "next") {
                    setAllPostsPage(allPostsPage + 1) 
                }
            }

            const button = (
                <div>
                    <button onClick={setButton} id="back">Back</button>
                    <button onClick={setButton} id="next">Next</button>
                </div>
            )
            
            return (
                <div>
                    {button}
                    {everyPost}
                </div>
            )
        };

        React.useEffect(() => {
            fetch("follow_count")
            .then(response => response.json())
            .then(data => setFollowCount(data))

            fetch(`user_posts/${profilePostsPage}`)
            .then(res => res.json())
            .then(data => setUserPosts(data))

        }, [profilePostsPage, refreshPosts])

        function Profile() {
            const postUser = Object.entries(userPosts).map(upost => {
                const postContent = <p>{upost[1].content}</p>
                const editingPostContent = (
                    <div>
                        <textarea onChange={e => newContent(e.target.value)} placeholder={upost[1].content}>{upost[1].content}</textarea>
                    </div>
                )
                
                let displayPostContent
                let editText
                if(upost[1].user === upost[1].currentUser && editingPost === true && upost[1].id === postId) {
                    displayPostContent =  editingPostContent
                    editText = "Save"
                } else {
                    displayPostContent = postContent 
                    editText = "Edit"
                }
                const editButton = upost[1].user === upost[1].currentUser && 
                    <button onClick={() => editPost(upost[1].id)}>{editText}</button>

                return (
                    <div className="post">
                        <div className="post-header">
                            <span className="post-header-span"><p>{upost[1].user}</p>
                            {editButton}</span>
                            <p>{upost[1].timestamp}</p>
                        </div>
                        <div className="post-content">
                            {displayPostContent}
                        </div>
                        <div className="post-likes">
                            <p>Likes {upost[1].likes}</p>
                        </div>
                    </div>
                )
            })

            function setButton(event) {
                if(event.target.id === "back") {
                    setProfilePostsPage(profilePostsPage - 1)
                } else if(event.target.id === "next") {
                    setProfilePostsPage(profilePostsPage + 1) 
                }
            }

            const button = (
                <div>
                    <button onClick={setButton} id="back">Back</button>
                    <button onClick={setButton} id="next">Next</button>
                </div>
            )

            return (
                <div>
                    <h4>You have {followCount.follower_count} followers!</h4>
                    <h4>You are following {followCount.following_count} people!</h4>
                    {button}
                    {postUser}
                </div>
            )
        };

        React.useEffect(() => {

            fetch(`follow/${currentUser}`, {
                method: "POST",
                body: JSON.stringify({
                follow_list: followButton,
                pushed_button: pushingButton
                })
            })
            .then(res => res.json())
            .then(data => setFollowButton(data))

            setPushingButton(false)

        }, [allFollowPosts, pushingButton])

        React.useEffect(() => {
            fetch(`profile/${currentUser}/${theirProfilePage}`)
                .then(res => res.json())
                .then(data => setProfile(data))
            }, [theirProfilePage, followButton]);
            


        // User profile
        function UserProfile() {
            const followers = profile[0]
            const following = profile[1]
            setCurrentUser(profile[3])
            
            // update Follow button, and change fetch put follow
            function FollowButton() {
                // checking if user is following or not, then set followButton
                function handleFollowButton() {
                    setFollowButton(followButton === "Follow" ? "Unfollow" : "Follow")
                    setPushingButton(true)
                    setCounty(county + 1)
                }
                 
                function Button() {
                    if(currentUser == profile[4]) {
                        return <div />
                    } else {
                        return (
                            <div>
                                <button onClick={handleFollowButton}>{followButton}</button>
                            </div>
                        )
                    }
                }

                function setButton(event) {
                if(event.target.id === "back") {
                    setTheirProfilePage(theirProfilePage - 1)
                } else if(event.target.id === "next") {
                    setTheirProfilePage(theirProfilePage + 1) 
                }
            }

            const button = (
                <div>
                    <button onClick={setButton} id="back">Back</button>
                    <button onClick={setButton} id="next">Next</button>
                </div>
            )

            return (
                <div>
                    {button}
                    <Button />
                </div>
            )
        }

            const profilePosts = Object.entries(profile[2]).map(element => { 
                const postContent = <p>{element[1].content}</p>
                const editingPostContent = (
                    <div>
                        <textarea onChange={e => newContent(e.target.value)} placeholder={element[1].content}>{element[1].content}</textarea>
                    </div>
                )
                
                let displayPostContent
                let editText
                if(element[1].user === element[1].loggedInUser && editingPost === true && element[1].id === postId) {
                    displayPostContent =  editingPostContent
                    editText = "Save"
                } else {
                    displayPostContent = postContent 
                    editText = "Edit"
                }
                const editButton = element[1].user === element[1].loggedInUser && 
                    <button onClick={() => editPost(element[1].id)}>{editText}</button>

                return (
                    <div className="post">
                        <div className="post-header">
                            <span className="post-header-span"><p>{element[1].user}</p>
                            {editButton}</span>
                            <p>{element[1].timestamp}</p>
                        </div>
                        <div className="post-content">
                            {displayPostContent}
                        </div>
                        <div className="post-likes">
                            <p>Likes {element[1].likes}</p>
                        </div>
                    </div>
                )
            })

            return (
                <div>
                    {`${followers} followers`}
                    {`Following ${following}`}
                    <FollowButton />
                    {profilePosts}
                </div>
            )
        };

        React.useEffect(() => {
            fetch(`follow_posts/${followPage}`)
            .then(res => res.json())
            .then(data => setAllFollowPosts(data))
        }, [followPage, followList, followButton]);
        
        function Following() {

            const followPost = Object.entries(allFollowPosts).map(element => {
                return (
                    <div className="post">
                        <div className="post-header">
                            <p><a onClick={() => loadProfile(element[1].user)}>{element[1].user}</a></p>
                            <p>{element[1].timestamp}</p>
                        </div>
                        <div className="post-content">
                            <p>{element[1].content}</p>
                        </div>
                        <div className="post-likes">
                            <p>Likes {element[1].likes}</p>
                        </div>
                    </div>
                )
            })

            function setButton(event) {
                if(event.target.id === "back") {
                    setFollowPage(followPage - 1)
                } else if(event.target.id === "next") {
                    setFollowPage(followPage + 1) 
                }
            }

            const button = (
                <div>
                    <button onClick={setButton} id="back">Back</button>
                    <button onClick={setButton} id="next">Next</button>
                </div>
            )

            return (
                <div>
                    {button}
                    {followPost}
                </div>
            )
        };


        // show only all/profile/following posts
        let showPosts
        if(show === "all-posts") {
            showPosts = <EveryPost />
        } else if(show ==="profile") {
            showPosts = <Profile />
        } else if(show ==="following") {
            showPosts = <Following />
        } else if(show ==="userProfile") {
            showPosts = <UserProfile />
        }

        return (
            <div className="every-post">
                <section className="post-section">
                    {showPosts}
                </section>
            </div>

        )
    };
    ReactDOM.render(<App />, document.querySelector("#root-allposts"))

</script>

{% endblock %}