{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Social Network{% endblock %}</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link type="text/css" href="{% static 'network/style.css' %}" rel="stylesheet">
        <script src="https://unpkg.com/react@17/umd/react.production.min.js" crossorigin></script>
        <script src="https://unpkg.com/react-dom@17/umd/react-dom.production.min.js" crossorigin></script>
        <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
    </head>
    <body>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{% url 'add_post' %}">Network</a>
          
            <div>
              <ul class="navbar-nav mr-auto" id="list-buttons">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="#" ><strong id="profile">{{ user.username }}</strong></a>
                    </li>
                {% endif %}
                <li class="nav-item">
                  <a class="nav-link" href="#" id="all-posts">All Posts</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="#" id="following">Following</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Log In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">Register</a>
                    </li>
                {% endif %}
              </ul>
            </div>
          </nav>
        
        <div class="body">
            {% if user.is_authenticated %}
            <fieldset class="addPostField">
                <form action="{% url 'add_post' %}" method="post" class="addPostForm">
                    {% csrf_token %}
                    <div>
                        <h4>New Post</h4>
                        <textarea name="text_post" rows="3" required></textarea>
                        <br>
                        <input type="submit" value="Add Post" class="formButton">
                    </div>
                </form>
            </fieldset>
            <div id="root-allposts"></div>
            <div id="root-profile"></div>
            <div id="root-following"></div>
            {% endif %}
            {% block body %}
            {% endblock %}
        </div>
    </body>
</html>