* {
    box-sizing: border-box;
}
button {
    border-radius: 10px;
    background-color: rgb(222, 222, 222);
    font-size: 13px;
    max-height: 25px;
    margin: 2px 5px 5px 5px
}
.every-post {
    margin: 22px;
}
html {
    font-family: Verdana, sans-serif;
}
fieldset {
    border: 4px solid rgb(224, 223, 223);
    border-radius: 10px;
    margin: 20px;
}
fieldset:hover {
    border: 4px solid rgb(231, 229, 229);
    border-radius: 10px;
    margin: 20px;
    background-color: rgba(246, 246, 246, 0.702);
}
fieldset div {
    border: none;
    margin: 10px;
}
form textarea {
    border: 3px solid rgb(232, 232, 232);
    border-radius: 10px;
    width: 100%;
    outline: none;
}
form textarea:focus {
    border: 3px solid rgb(221, 221, 221);
    border-radius: 10px;
    width: 100%;
    outline: none;
}
.formButton {
    border-radius: 10px;
    background-color: rgb(64, 150, 255);
    color: white;
}
.formButton:hover {
    background-color:rgb(164, 202, 248);
    color: rgb(37, 37, 37);
}
.post {
    border: 4px solid rgb(224, 223, 223);
    border-radius: 10px;
    margin-bottom: 8px;
}
.post-content {
    background-color: rgb(255, 255, 255);
    padding: 0;
    margin: 0;
    height: auto;
    padding-left: 5px;
    padding-right: 5px;
}
.post-header {
    display: flex;
    background-color: rgba(234, 234, 234, 0.618);
    justify-content: space-between;
    padding-left: 5px;
    padding-right: 5px;
}
.post-header-span {
    display: flex;
    max-height: 30px;
}

.post-header > p {
    display: flex;
    width: auto;
    height: 30px;
    padding: 0;
    margin: 0;
}
.post-likes {
    
    background-color: rgba(231, 231, 231, 0.618);
    padding: 0;
    margin: 0;
    height: 25px;
    padding-left: 5px;
    padding-right: 5px;
}
.post-likes > p {
    padding: 0;
}
